<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>TechnicalBlog</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.tech.blog.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.tech.blog.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.tech.blog.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfileDetailsServlet</display-name>
    <servlet-name>EditProfileDetailsServlet</servlet-name>
    <servlet-class>com.tech.blog.servlets.EditProfileDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileDetailsServlet</servlet-name>
    <url-pattern>/EditProfileDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoPostServlet</display-name>
    <servlet-name>DoPostServlet</servlet-name>
    <servlet-class>com.tech.blog.servlets.DoPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoPostServlet</servlet-name>
    <url-pattern>/DoPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LikeServlet</display-name>
    <servlet-name>LikeServlet</servlet-name>
    <servlet-class>com.tech.blog.servlets.LikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeServlet</servlet-name>
    <url-pattern>/LikeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentServlet</display-name>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.tech.blog.servlets.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/CommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePostServlet</display-name>
    <servlet-name>DeletePostServlet</servlet-name>
    <servlet-class>com.tech.blog.servlets.DeletePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePostServlet</servlet-name>
    <url-pattern>/DeletePostServlet</url-pattern>
  </servlet-mapping>
</web-app>